body {
  font-family: -apple-system, BlinkMacSystemFont, 
      "Segoe UI", "Roboto", "Oxygen", 
      "Ubuntu", "Cantarell", "Fira Sans", 
      "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

li {
  display: inline;
  font-size: 150%;
}
